@using Microsoft.AspNetCore.Identity;
@inject UserManager<IdentityUser> UserManager
@inject RoleManager<IdentityRole> RoleManage
@model IEnumerable<CheckOut>
@{
	ViewData["Title"] = "All Active CheckOuts";
	DateOnly today = DateOnly.FromDateTime(DateTime.Today);
}

<h1>CheckOuts due today</h1>

@{
	if (Model == null || !Model.Any()) {
		<h4>Nothing due today</h4>
	} else {
		<table class="table">
			<thead>
				<tr>
					<th>Book Title</th>
					<th>User</th>
					<th>CheckOut Date</th>
				</tr>
			</thead>
			<tbody>
				@foreach (CheckOut checkout in Model) {
					var user = UserManager.FindByIdAsync(checkout.UserId).Result;
					<tr>
						<td>@checkout.Book.Title</td>
						<td>@user</td>
						<td>@checkout.CheckoutDate</td>
					</tr>
				}
			</tbody>
		</table>
	}
}