@model BookReview;

<div style="display: flex; justify-content: center; align-items: center; height: calc(100vh - 60px - 57px);">
	<form asp-action="CreateBookReview" style="display: grid; border-radius: 10px; border: 3px solid #00669b; padding: 30px;">
		<h2>New Book Review</h2>

		<input asp-for="UserId" value="@ViewBag.UserId" type="hidden" />

		<label asp-for="BookId" style="margin-top: 20px">Book: </label>
		<select asp-for="BookId">
			<option value="">None</option>
			@foreach (Book book in ViewBag.BookList)
			{
				<option value="@book.BookId">@book.Title</option>
			}
		</select>

		<label asp-for="Rating" style="margin-top: 20px">Rating: </label>
		<input asp-for="Rating" />

		<label asp-for="Comment" style="margin-top: 20px">Comment: </label>
		<input asp-for="Comment" />

		<div class="flex-grow-1 justify-content-end" style="margin-top: 20px">
			<button type="submit" style="background-color: #00669b; color:#fff; width: 80px; border: none; border-radius: 10px;">Post</button>
		</div>
	</form>
</div>
