@using Microsoft.AspNetCore.Identity;
@inject UserManager<IdentityUser> UserManager
@inject RoleManager<IdentityRole> RoleManage
@model IEnumerable<BookReview>
@{
	ViewData["Title"] = "All Book Reviews";
}

<h1>Reviews for All Books</h1>
