@using Microsoft.AspNetCore.Identity;
@inject UserManager<IdentityUser> UserManager
@inject RoleManager<IdentityRole> RoleManage
@model IEnumerable<BookReview>
@{
	string userId = UserManager.GetUserId(User);
	ViewData["Title"] = $"Book Reviews from {userId}";
}

@{
	if (Model == null || !Model.Any()) {
		<h4>No Reviews Found for any book</h4>
	} else {
		<table class="table">
			<thead>
				<tr>
					<th>Book Title</th>
					<th>Rating</th>
					<th>Comment</th>
				</tr>
			</thead>
			<tbody>
				@foreach (BookReview review in Model) {
					<tr>
						<td>@review.Book.Title</td>
						<td>@review.Rating</td>
						<td>@review.Comment</td>
						<td>
							@if (User.IsInRole("Admin")) {
								<a asp-action="Delete" asp-route-id="@review.BookReviewId">Delete</a>
							}
						</td>
					</tr>
				}
			</tbody>
		</table>
	}
}

<!--Update this for the create action whatever we name it -->
@if (User.IsInRole("Admin")) {
	<a asp-action="CreateBookReview">Create New Book</a>
}