@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<!--
    Home page will have a collection of the most popular books and a list of upcomming events.
    To get the most popular books, we will need to run a query counting how many times a certain book has
        been checked out, and then sort by count
-->
